@import "null.css";

#section{
    color: brown;
}
.text{
    color: chartreuse;
}
div.text{
    color: maroon;
}
.manual{
    color: chocolate;
}
.text.paragraph{
    color: cornflowerblue;
}
.list{
    color: darkblue;
}
.list2{
    color: darkmagenta;
}
.point{
    color: darkturquoise;
}
[class*=__ceiling] {
    color: forestgreen;
}
#floor{
    color: greenyellow;
}
h3{
    color: indigo;
}
.material{
    color: khaki;
}
#correction{
    color: lightcoral;
}
.text.paragraph.align{
    color: lightseagreen;
}
.list.stage{
    color: mediumaquamarine;
}
li.point1{
    color: midnightblue;
}
li.point2{
    color: orangered;
}
p span{
    color: rgb(43, 255, 0);
}
p.text.paragraph span{
    color: palevioletred;
}
p.text.paragraph.align span{
    color: rebeccapurple;
}
#tobecontinued{
    color: red;
}
.tools .tools-list{
    color: sienna;
}
.text.manual > p {
    color: tomato;
}